.badge {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: tomato;
  font-weight: 600;
  top: -18px;
  right: -10px;
}
.badge__dot {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
}
.badge__container {
  display: flex;
  position: relative;
}
